In [42]:
import pandas as pd

In [43]:
data = [[1, 5], [2, 6], [3, 5], [3, 6], [1, 6], [1,6]]
customer = pd.DataFrame(data, columns=['customer_id', 'product_key']).astype({'customer_id':'Int64', 'product_key':'Int64'})
data = [[5], [6]]
product = pd.DataFrame(data, columns=['product_key']).astype({'product_key':'Int64'})

In [44]:
customer

   customer_id  product_key
0            1            5
1            2            6
2            3            5
3            3            6
4            1            6
5            1            6

In [45]:
product

   product_key
0            5
1            6

In [46]:
df = pd.merge(customer, product, on='product_key')

In [47]:
df = df.drop_duplicates()

In [48]:
total_pro = product['product_key'].count()

In [51]:
df2 = df.groupby("customer_id")[['product_key']].count()

In [50]:
df

   customer_id  product_key
0            1            5
1            2            6
2            3            5
3            3            6
4            1            6

In [54]:
df2 = df2.reset_index()

In [56]:
af = pd.merge(df, df2, on='customer_id')

In [57]:
af

   customer_id  product_key_x  product_key_y
0            1              5              2
1            2              6              1
2            3              5              2
3            3              6              2
4            1              6              2

In [64]:
af[af['product_key_y'] == total_pro][['customer_id']].drop_duplicates()

   customer_id  product_key_y
0            1              2
2            3              2