In [17]:
import pandas as pd

In [28]:
data = [[1, 'ATGCTAGCTAGCTAA', 'Human'], [2, 'GGGTCAATCATC', 'Human'], [3, 'ATATATCGTAGCTA', 'Human'], [4, 'ATGGGGTCATCATAA', 'Mouse'], [5, 'TCAGTCAGTCAG', 'Mouse'], [6, 'ATATCGCGCTAG', 'Zebrafish'], [7, 'CGTATGCGTCGTA', 'Zebrafish']]
samples = pd.DataFrame(data, columns=({'sample_id': pd.Series(dtype='int'),        # Equivalent to SERIAL/INTEGER
    'dna_sequence': pd.Series(dtype='string'),  # Equivalent to TEXT/VARCHAR
    'species': pd.Series(dtype='string')        # Equivalent to VARCHAR(100)
}))

In [29]:
samples

   sample_id     dna_sequence    species
0          1  ATGCTAGCTAGCTAA      Human
1          2     GGGTCAATCATC      Human
2          3   ATATATCGTAGCTA      Human
3          4  ATGGGGTCATCATAA      Mouse
4          5     TCAGTCAGTCAG      Mouse
5          6     ATATCGCGCTAG  Zebrafish
6          7    CGTATGCGTCGTA  Zebrafish

In [32]:
samples['has_start'] = samples['dna_sequence'].str.startswith("ATG").astype(int)
samples["has_end"] = samples['dna_sequence'].str.endswith(("TAA", "TAG", "TGA")).astype(int)
samples["has_atat"] = samples['dna_sequence'].str.contains("ATAT").astype(int)
samples["has_ggg"] = samples['dna_sequence'].str.contains("GGG").astype(int)

In [33]:
samples

,sample_id,dna_sequence,species,has_start,has_end,has_atat,has_ggg
0,1,ATGCTAGCTAGCTAA,Human,1,1,0,0
1,2,GGGTCAATCATC,Human,0,0,0,1
2,3,ATATATCGTAGCTA,Human,0,0,1,0
3,4,ATGGGGTCATCATAA,Mouse,1,1,0,1
4,5,TCAGTCAGTCAG,Mouse,0,0,0,0
5,6,ATATCGCGCTAG,Zebrafish,0,1,1,0
6,7,CGTATGCGTCGTA,Zebrafish,0,0,0,0