In [1]:
import pandas as pd

In [2]:
data = [[1, 100]]
employee = pd.DataFrame(data, columns=['Id', 'Salary']).astype({'Id':'Int64', 'Salary':'Int64'})

In [3]:
employee

   Id  Salary
0   1     100

In [4]:
n = -1
if n <= 0:
    df = pd.DataFrame({f"getNthHighestSalary({n})" : [None]})

df
# if value of n is less then or equal to 0 so it gives none and end here
# in leetcode directly return this statement so after that no code will execute.

  getNthHighestSalary(-1)
0                    None

In [5]:
df = employee.drop_duplicates(subset='Salary', keep='first')

In [6]:
df = df['Salary'].nlargest(n).reset_index(drop=True)

In [7]:
df = pd.DataFrame(df)

In [8]:
if (len(df) < n)  :
    af = pd.DataFrame({f"getNthHighestSalary({n})" : [None]})
else:
    af = pd.DataFrame({f"getNthHighestSalary({n})" : df.iloc[n-1]})

IndexError: single positional indexer is out-of-bounds

In [9]:
af.reset_index(drop=True)

NameError: name 'af' is not defined