In [24]:
import pandas as pd

In [34]:
data = [[5, 'Alice', 250, 1], [4, 'Bob', 175, 5], [3, 'Alex', 350, 2], [6, 'John Cena', 400, 3], [1, 'Winston', 500, 6], [2, 'Marie', 200, 4]]
queue = pd.DataFrame(data, columns=['person_id', 'person_name', 'weight', 'turn']).astype({'person_id':'Int64', 'person_name':'object', 'weight':'Int64', 'turn':'Int64'})

In [35]:
queue

   person_id person_name  weight  turn
0          5       Alice     250     1
1          4         Bob     175     5
2          3        Alex     350     2
3          6   John Cena     400     3
4          1     Winston     500     6
5          2       Marie     200     4

In [36]:
queue = queue.sort_values(by="turn")
queue

   person_id person_name  weight  turn
0          5       Alice     250     1
2          3        Alex     350     2
3          6   John Cena     400     3
5          2       Marie     200     4
1          4         Bob     175     5
4          1     Winston     500     6

In [37]:
sum = 0
item = []
for i in queue['weight']: 
    sum = sum + i
    item.append(sum)
# here we can also use cumsum().  (queue['cumweight'] = queue['weight'].cumsum())

In [38]:
queue['Total Weight'] = item

In [42]:
queue[queue['Total Weight'] <= 1000].tail(1)[['person_name']]

  person_name
3   John Cena