In [2]:
import pandas as pd

In [3]:
data = [[1, 1], [2, 1], [3, 1], [4, 2], [5, 1], [6, 2], [7, 2]]
logs = pd.DataFrame(data, columns=['id', 'num']).astype({'id':'Int64', 'num':'Int64'})

In [15]:
logs

   id  num
0   1    1
1   2    1
2   3    1
3   4    2
4   5    1
5   6    2
6   7    2

In [22]:
cn = []
store = logs.iloc[0, 0]
count = 0
for i in logs['num']:
    if(i == store):
        count += 1
        if(count >= 3):
            cn.append(i)
    else:
        count = 0
        store = i

In [23]:
df = pd.DataFrame(cn, columns=['ConsecutiveNums'])

In [24]:
df

   ConsecutiveNums
0                1