In [61]:
import pandas as pd

In [62]:
# data = [[1, 2, '2016-03-01', 5], [1, 2, '2016-03-02', 6], [2, 3, '2017-06-25', 1], [3, 1, '2016-03-02', 0], [3, 4, '2018-07-03', 5]]
# activity = pd.DataFrame(data, columns=['player_id', 'device_id', 'event_date', 'games_played']).astype({'player_id':'Int64', 'device_id':'Int64', 'event_date':'datetime64[ns]', 'games_played':'Int64'})

In [63]:
# activity

In [81]:
activity = pd.read_csv("player_activity_full.csv",parse_dates=["event_date"])

In [82]:
activity

     player_id  device_id event_date  games_played
0            5         17 2019-01-17            44
1           31         43 2019-01-21            41
2           52         89 2019-03-09            44
3           14        154 2019-02-13            87
4           96         46 2019-03-22            77
..         ...        ...        ...           ...
995         47         69 2019-02-13            93
996         60         63 2019-03-15            44
997         85         99 2019-02-27            45
998         78         34 2019-01-16            87
999         58         31 2019-02-25            52

[1000 rows x 4 columns]

In [112]:
activity = activity.sort_values(by='event_date')

In [114]:
count = 0
id = {}
for i, act in activity.iterrows():
    if act['player_id'] not in id.keys():
        id[act['player_id']] = act['event_date']

    else:
        if (act["event_date"] + pd.Timedelta(days=-1)) == id[act['player_id']]: 
            count += 1

In [115]:
factor = count/len(id)

In [116]:
round(factor, 2)

0.12

In [117]:
count

12

In [118]:
activity.sort_values(by='event_date')

     player_id  device_id event_date  games_played
109         54        127 2019-01-01            11
350         88         18 2019-01-01            63
944         41        106 2019-01-01            37
416         72         15 2019-01-01            29
194         94        101 2019-01-01            80
..         ...        ...        ...           ...
565         85         32 2019-03-30            92
53           8         42 2019-03-30            99
337         53         53 2019-03-30            15
538         92         63 2019-03-30            62
792         17        134 2019-03-30            18

[1000 rows x 4 columns]