In [1]:
import pandas as pd

In [2]:
data = [[1, 'a@b.com'], [2, 'c@d.com'], [3, 'a@b.com'], [4, 'a@b.com']]
person = pd.DataFrame(data, columns=['id', 'email']).astype({'id':'Int64', 'email':'object'})

In [3]:
person = person[person.duplicated('email')].rename(columns={'email':'Email'})

In [4]:
person

   id    Email
2   3  a@b.com
3   4  a@b.com

In [5]:
person = person.drop_duplicates(subset=['Email']).drop('id', axis=1)

In [9]:
person

     Email
2  a@b.com