In [1]:
import pandas as pd

In [2]:
data = [[1, 'Joe'], [2, 'Henry'], [3, 'Sam'], [4, 'Max']]
customers = pd.DataFrame(data, columns=['id', 'name']).astype({'id':'Int64', 'name':'object'})
data = [[1, 3], [2, 1]]
orders = pd.DataFrame(data, columns=['id', 'customerId']).astype({'id':'Int64', 'customerId':'Int64'})

In [3]:
customers

   id   name
0   1    Joe
1   2  Henry
2   3    Sam
3   4    Max

In [4]:
orders

   id  customerId
0   1           3
1   2           1

In [5]:
df = customers.merge(orders, left_on='id', right_on='customerId', how='outer', indicator=True).query("_merge != 'both'").drop(columns='_merge')

In [6]:
df['Customers'] = df['name']

In [7]:
df = df[['Customers']]

In [8]:
df

  Customers
1     Henry
3       Max

In [9]:
# df=customers.merge(orders,left_on='id',right_on='customerId',how='left')
# df[df['customerId'].isna()][['name']].rename(columns={'name':'Customers'})

In [11]:
# return customers.loc[~customers['id'].isin(orders['customerId']),['name']].rename(columns = {'name' : 'Customers'})

In [16]:
customers.loc[customers['id'].isin(orders['customerId'])] #this function returns the id from customer data which is present in customerid in orders dataset

   id name
0   1  Joe
2   3  Sam

In [18]:
customers.loc[~customers['id'].isin(orders['customerId'])] # this ~ (NOT(logical negation)) change the whole statement of the above now it give the id not present in customerid
# ~True = False
# ~False = True

   id   name
1   2  Henry
3   4    Max